<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <RoboSync.Properties.Settings>
            <setting name="Definitions" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;Definition&gt;
    &lt;Folders&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Documents&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;152423&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Desktop&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;138&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\AndroidStudioProjects&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;22769&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Downloads\Installed&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;6387&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Pictures&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;47138&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Videos&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;21122&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\OneDrive\Records&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;31&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\xampp\htdocs&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;11&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Contacts&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;0&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Music&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;0&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\TS&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;440&lt;/Size&gt;
      &lt;/Folder&gt;
    &lt;/Folders&gt;
    &lt;Label&gt;Default&lt;/Label&gt;
    &lt;Output&gt;E:\Backup\RoboSync&lt;/Output&gt;
    &lt;Schedule&gt;true&lt;/Schedule&gt;
    &lt;Time&gt;02:00:00&lt;/Time&gt;
    &lt;Day&gt;Daily&lt;/Day&gt;
  &lt;/Definition&gt;
  &lt;Definition&gt;
    &lt;Folders&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Documents&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;152423&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Desktop&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;138&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\AndroidStudioProjects&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;22769&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Downloads\Installed&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;6387&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Pictures&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;47138&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Videos&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;21122&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\OneDrive\Records&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;31&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\xampp\htdocs&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;11&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Contacts&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;0&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\Music&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;0&lt;/Size&gt;
      &lt;/Folder&gt;
      &lt;Folder&gt;
        &lt;Path&gt;C:\Users\steve\TS&lt;/Path&gt;
        &lt;Include&gt;true&lt;/Include&gt;
        &lt;Size&gt;440&lt;/Size&gt;
      &lt;/Folder&gt;
    &lt;/Folders&gt;
    &lt;Label&gt;Default_Copy&lt;/Label&gt;
    &lt;Output&gt;D:\Backup\RoboSync&lt;/Output&gt;
    &lt;Schedule&gt;false&lt;/Schedule&gt;
    &lt;Time&gt;02:00:00&lt;/Time&gt;
    &lt;Day&gt;Daily&lt;/Day&gt;
  &lt;/Definition&gt;
&lt;/ArrayOfDefinition&gt;</value>
            </setting>
            <setting name="WinState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinTop" serializeAs="String">
                <value>191.42857142857142</value>
            </setting>
            <setting name="WinLeft" serializeAs="String">
                <value>213.7142857142857</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>157.7142857142857</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>25.71428571428571</value>
            </setting>
            <setting name="IsStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSysTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFastStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMinimised" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsMultipleInstances" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.1.0.0</value>
            </setting>
        </RoboSync.Properties.Settings>
    </userSettings>
</configuration>